
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g_NQquYRJV gp-custom-code">
      <div>
    <section class="gp-mx-auto gp-max-w-full [&amp;_*]:gp-max-w-full" style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none">
          
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#D9CCB6&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;},&quot;mobile&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#D9CCB6&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gfocSCbfuP&quot;}" data-id="gfocSCbfuP" id="gfocSCbfuP" data-same-height-subgrid-container="" class="gfocSCbfuP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:20px;--pb-mobile:var(--g-s-2xl);--pr-mobile:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#D9CCB6;--bgc-mobile:#D9CCB6;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gFoVd2Buyz gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gNeIc6uLDR" class="gNeIc6uLDR" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class="gp-g-heading-3  gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          Un geste naturel et<strong> facile à maintenir dans votre quotidien</strong>
        </h2>
      </div>
    </div>
    
    <gp-carousel gp-data="{&quot;id&quot;:&quot;gzNwsG1pq1&quot;,&quot;setting&quot;:{&quot;animationMode&quot;:&quot;ease-in&quot;,&quot;arrowBackgroundColor&quot;:&quot;transparent&quot;,&quot;arrowBorder&quot;:{&quot;desktop&quot;:{&quot;border&quot;:&quot;none&quot;,&quot;borderType&quot;:&quot;none&quot;,&quot;borderWidth&quot;:&quot;1px&quot;,&quot;isCustom&quot;:true,&quot;width&quot;:&quot;1px 1px 1px 1px&quot;}},&quot;arrowButtonSize&quot;:{&quot;desktop&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;16px&quot;,&quot;left&quot;:&quot;16px&quot;,&quot;linked&quot;:true,&quot;right&quot;:&quot;16px&quot;,&quot;top&quot;:&quot;16px&quot;,&quot;type&quot;:&quot;custom&quot;},&quot;shapeLinked&quot;:true,&quot;shapeValue&quot;:&quot;1/1&quot;}},&quot;arrowCustom&quot;:&quot;&lt;svg height=\&quot;20\&quot; width=\&quot;20\&quot; data-name=\&quot;arrow-circle-right-filled\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;  viewBox=\&quot;0 0 256 256\&quot; fill=\&quot;currentColor\&quot; data-id=\&quot;508817714167153000\&quot;&gt;\n              &lt;path fill=\&quot;currentColor\&quot; strokeLinecap=\&quot;round\&quot; strokeLinejoin=\&quot;round\&quot; fill=\&quot;currentColor\&quot; d=\&quot;M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,109.66-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,173.66,133.66Z\&quot; /&gt;&lt;/svg&gt;&quot;,&quot;arrowCustomColor&quot;:&quot;RGBA(2, 131, 113, 0.5)&quot;,&quot;arrowGapToEachSide&quot;:&quot;16&quot;,&quot;arrowIconSize&quot;:{&quot;desktop&quot;:24,&quot;mobile&quot;:&quot;24&quot;},&quot;arrowShadow&quot;:{&quot;desktop&quot;:{&quot;angle&quot;:45,&quot;blur&quot;:&quot;4px&quot;,&quot;color&quot;:&quot;rgba(18, 18, 18, 0.2)&quot;,&quot;distance&quot;:&quot;4px&quot;,&quot;enable&quot;:false,&quot;spread&quot;:&quot;0px&quot;,&quot;type&quot;:&quot;shadow-1&quot;}},&quot;autoplay&quot;:false,&quot;autoplayTimeout&quot;:2,&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#FFFFFF&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;childItem&quot;:[&quot;Item 1&quot;,&quot;Item 2&quot;,&quot;Item 3&quot;],&quot;controlOverContent&quot;:{&quot;desktop&quot;:true},&quot;dot&quot;:{&quot;desktop&quot;:false,&quot;mobile&quot;:false},&quot;dotActiveColor&quot;:{&quot;desktop&quot;:&quot;line-3&quot;,&quot;mobile&quot;:&quot;#00958B&quot;},&quot;dotColor&quot;:{&quot;desktop&quot;:&quot;bg-1&quot;},&quot;dotGapToCarousel&quot;:{&quot;desktop&quot;:16,&quot;mobile&quot;:&quot;0&quot;},&quot;dotSize&quot;:{&quot;desktop&quot;:12,&quot;mobile&quot;:&quot;4&quot;},&quot;dotStyle&quot;:{&quot;desktop&quot;:&quot;outside&quot;},&quot;enableDrag&quot;:{&quot;desktop&quot;:true,&quot;mobile&quot;:true},&quot;itemNumber&quot;:{&quot;desktop&quot;:3,&quot;mobile&quot;:2,&quot;tablet&quot;:2},&quot;label&quot;:true,&quot;loop&quot;:{&quot;desktop&quot;:true,&quot;mobile&quot;:false},&quot;navigationEnable&quot;:{&quot;desktop&quot;:false,&quot;mobile&quot;:true},&quot;navigationStyle&quot;:{&quot;desktop&quot;:&quot;outside&quot;,&quot;mobile&quot;:&quot;inside&quot;},&quot;pauseOnHover&quot;:true,&quot;roundedArrow&quot;:{&quot;desktop&quot;:{&quot;bblr&quot;:&quot;0px&quot;,&quot;bbrr&quot;:&quot;0px&quot;,&quot;btlr&quot;:&quot;0px&quot;,&quot;btrr&quot;:&quot;0px&quot;,&quot;radiusType&quot;:&quot;none&quot;}},&quot;rtl&quot;:false,&quot;runPreview&quot;:false,&quot;showWhenHover&quot;:false,&quot;sneakPeak&quot;:{&quot;desktop&quot;:false,&quot;mobile&quot;:true},&quot;sneakPeakOffsetCenter&quot;:{&quot;desktop&quot;:50},&quot;sneakPeakOffsetForward&quot;:{&quot;desktop&quot;:50,&quot;mobile&quot;:71},&quot;sneakPeakType&quot;:{&quot;desktop&quot;:&quot;forward&quot;,&quot;mobile&quot;:&quot;forward&quot;},&quot;vertical&quot;:{&quot;desktop&quot;:false}},&quot;styles&quot;:{&quot;align&quot;:{&quot;desktop&quot;:&quot;center&quot;},&quot;backgroundImage&quot;:{&quot;desktop&quot;:{}},&quot;borderContent&quot;:{&quot;border&quot;:&quot;none&quot;,&quot;borderType&quot;:&quot;none&quot;,&quot;borderWidth&quot;:&quot;1px&quot;,&quot;color&quot;:&quot;line-3&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;all&quot;,&quot;width&quot;:&quot;1px 1px 1px 1px&quot;},&quot;carouselShadow&quot;:{&quot;angle&quot;:45,&quot;blur&quot;:&quot;4px&quot;,&quot;color&quot;:&quot;rgba(18, 18, 18, 0.2)&quot;,&quot;distance&quot;:&quot;4px&quot;,&quot;enable&quot;:false,&quot;spread&quot;:&quot;0px&quot;,&quot;type&quot;:&quot;shadow-1&quot;},&quot;fullWidth&quot;:{&quot;desktop&quot;:false,&quot;mobile&quot;:false,&quot;tablet&quot;:false},&quot;hasActiveShadow&quot;:false,&quot;itemPadding&quot;:{&quot;desktop&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;20px&quot;,&quot;link&quot;:false,&quot;linked&quot;:false,&quot;right&quot;:&quot;20px&quot;,&quot;top&quot;:&quot;25px&quot;}}},&quot;playSpeed&quot;:500,&quot;roundedContent&quot;:{&quot;bblr&quot;:&quot;8px&quot;,&quot;bbrr&quot;:&quot;8px&quot;,&quot;btlr&quot;:&quot;8px&quot;,&quot;btrr&quot;:&quot;8px&quot;,&quot;radiusType&quot;:&quot;rounded&quot;},&quot;sizeSetting&quot;:{&quot;desktop&quot;:{&quot;height&quot;:&quot;auto&quot;,&quot;shapeLinked&quot;:false,&quot;width&quot;:&quot;default&quot;}},&quot;spacing&quot;:{&quot;desktop&quot;:16,&quot;mobile&quot;:&quot;11&quot;}}}" data-id="gzNwsG1pq1" id="gp-root-carousel-gzNwsG1pq1" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex" active-index="0">
      <div class="gzNwsG1pq1 gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--bgi:none;--bgi-tablet:none;--bgi-mobile:none">
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px">
          
    <button type="button" aria-label="Carousel Back Arrow" class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gzNwsG1pq1 gzNwsG1pq1 gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2" style="--bg: transparent; --d: none; --d-tablet: none; --d-mobile: flex; --left: 3px; --right: initial; --top: initial; --bottom: ; --left-tablet: 3px; --right-tablet: initial; --top-tablet: initial; --bottom-tablet: ; --left-mobile: 16px; --right-mobile: initial; --top-mobile: initial; --bottom-mobile: ; --pl: 16px; --pr: 16px; --pt: 16px; --pb: 16px; --shadow: none; visibility: hidden !important;" data-hidden="true" disabled="">
      <style type="text/css">
      .gp-carousel-arrow-gzNwsG1pq1 {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gzNwsG1pq1::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gzNwsG1pq1 {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gzNwsG1pq1::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gzNwsG1pq1 {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gzNwsG1pq1::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div class="gp-flex gp-items-center gp-justify-center [&amp;&gt;svg]:gp-h-full [&amp;&gt;svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180" style="--c:RGBA(2, 131, 113, 0.5);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px">
        <svg height="20" width="20" data-name="arrow-circle-right-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817714167153000">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,109.66-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,173.66,133.66Z"></path></svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-gzNwsG1pq1" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gzNwsG1pq1 mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="cursor: auto;">
            
    
    <div id="" class="gem-slider-item gp-w-full gem-slider-item-gzNwsG1pq1 gp-child-item-gzNwsG1pq1 g9NT6pjysx" style="--pl: 20px; --pr: 20px; --pt: 25px; --pb: 20px; --minw: calc(100% / 3 - 10.666666666666666px); --minw-tablet: calc(100% / 2 - 8px); --minw-mobile: calc(100% / 1.29 - 2.472868217054264px); --maxw: calc(100% / 3 - 10.666666666666666px); --maxw-tablet: calc(100% / 2 - 8px); --maxw-mobile: calc(100% / 1.29 - 2.472868217054264px); --bgc: #FFFFFF; --bgi: url(); --bgp: 50% 50%; --bgs: cover; --bgr: no-repeat; --bga: scroll; --bs: none; --bw: 1px 1px 1px 1px; --bc: var(--g-c-line-3, line-3); --shadow: none; --d: block; --d-mobile: block; --d-tablet: block; --op: 100%; --pageType: GP_PRODUCT; --bblr: 8px; --bbrr: 8px; --btlr: 8px; --btrr: 8px; transform: translate3d(0px, 0px, 0px); min-width: 389px; max-width: 389px;" data-index="0" grid-index="" external-id="" media-type="" media-poster="" media-source-url="" media-last-source-url="">
      <div class="gp-w-full gp-h-full" style="--shadow:none">
      
    <div role="presentation" data-id="g0d5_moZnD" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" class="gp-group/image gp-relative force-publish-1770478612335 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g0d5_moZnD">
      <div style="border-radius:inherit;--jc:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859" srcset="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859">
      <source media="(max-width: 1024px)" data-srcset="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859" srcset="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859">
    
      
      <img base-src="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" src="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859" data-src="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859" alt="" width="100%" style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859" srcset="https://cdn.shopify.com/s/files/1/0943/9402/4261/files/42.jpg?v=1771239859">
    
    </picture>
  
      </div>
    </div>
  
    
    <div data-id="gKSuQOwMVl" class="gKSuQOwMVl" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:5px;--pl:0px;--pb:5px;--pr:0px;--pt-mobile:5px;--pl-mobile:0px;--pb-mobile:5px;--pr-mobile:0px;--pt-tablet:5px;--pl-tablet:0px;--pb-tablet:5px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#222222;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Étape 1 :</p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gLnt6ymTEN" class="gLnt6ymTEN" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-m);--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-s);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#222222;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Bien <strong>agiter</strong> avant utilisation (idéalement le matin, à jeun)</p>
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div id="" class="gem-slider-item gp-w-full gem-slider-item-gzNwsG1pq1 gp-child-item-gzNwsG1pq1 glhVHN1Nww" style="--pl: 20px; --pr: 20px; --pt: 25px; --pb: 20px; --minw: calc(100% / 3 - 10.666666666666666px); --minw-tablet: calc(100% / 2 - 8px); --minw-mobile: calc(100% / 1.29 - 2.472868217054264px); --maxw: calc(100% / 3 - 10.666666666666666px); --maxw-tablet: calc(100% / 2 - 8px); --maxw-mobile: calc(100% / 1.29 - 2.472868217054264px); --bgc: #FFFFFF; --bgi: url(); --bgp: 50% 50%; --bgs: cover; --bgr: no-repeat; --bga: scroll; --bs: none; --bw: 1px 1px 1px 1px; --bc: var(--g-c-line-3, line-3); --shadow: none; --d: block; --d-mobile: block; --d-tablet: block; --op: 100%; --pageType: GP_PRODUCT; --bblr: 8px; --bbrr: 8px; --btlr: 8px; --btrr: 8px; transform: translate3d(16px, 0px, 0px); min-width: 389px; max-width: 389px;" data-index="1" grid-index="" external-id="" media-type="" media-poster="" media-source-url="" media-last-source-url="">
      <div class="gp-w-full gp-h-full" style="--shadow:none">
      
    <div role="presentation" data-id="g1VjCFUjgV" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" class="gp-group/image gp-relative force-publish-1770478612338 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1VjCFUjgV">
      <div style="border-radius:inherit;--jc:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/47.webp?v=8705562723266825806" srcset="https://lynae.co/cdn/shop/files/47.webp?v=8705562723266825806&amp;width=524 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/47.webp?v=8705562723266825806" srcset="https://lynae.co/cdn/shop/files/47.webp?v=8705562723266825806&amp;width=524 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/47.webp?v=8705562723266825806" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" src="//lynae.co/cdn/shop/files/47.webp?v=8705562723266825806" data-src="//lynae.co/cdn/shop/files/47.webp?v=8705562723266825806" alt="" width="100%" style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/47.webp?v=8705562723266825806&amp;width=524 1440w" srcset="https://lynae.co/cdn/shop/files/47.webp?v=8705562723266825806&amp;width=524 1440w">
    
    </picture>
  
      </div>
    </div>
  
    
    <div data-id="gYbubCGFyj" class="gYbubCGFyj" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:5px;--pl:0px;--pb:5px;--pr:0px;--pt-mobile:5px;--pl-mobile:0px;--pb-mobile:5px;--pr-mobile:0px;--pt-tablet:5px;--pl-tablet:0px;--pb-tablet:5px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#222222;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Étape 2 :</p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gWWPTlbvo2" class="gWWPTlbvo2" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-m);--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-s);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:20px;--lh-mobile:20px;--ls:0.6px;--c:#222222;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><strong>Diluer 1 à 2ml</strong> (l'équivalent d'une cuillère à café) dans un verre d'eau ou prenez directement <strong>sous la langue</strong> pour une absorption rapide.</p>
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
    <div id="" class="gem-slider-item gp-w-full gem-slider-item-gzNwsG1pq1 gp-child-item-gzNwsG1pq1 gHERbuWwjm" style="--pl: 20px; --pr: 20px; --pt: 25px; --pb: 20px; --minw: calc(100% / 3 - 10.666666666666666px); --minw-tablet: calc(100% / 2 - 8px); --minw-mobile: calc(100% / 1.29 - 2.472868217054264px); --maxw: calc(100% / 3 - 10.666666666666666px); --maxw-tablet: calc(100% / 2 - 8px); --maxw-mobile: calc(100% / 1.29 - 2.472868217054264px); --bgc: #FFFFFF; --bgi: url(); --bgp: 50% 50%; --bgs: cover; --bgr: no-repeat; --bga: scroll; --bs: none; --bw: 1px 1px 1px 1px; --bc: var(--g-c-line-3, line-3); --shadow: none; --d: block; --d-mobile: block; --d-tablet: block; --op: 100%; --pageType: GP_PRODUCT; --bblr: 8px; --bbrr: 8px; --btlr: 8px; --btrr: 8px; transform: translate3d(32px, 0px, 0px); min-width: 389px; max-width: 389px;" data-index="2" grid-index="" external-id="" media-type="" media-poster="" media-source-url="" media-last-source-url="">
      <div class="gp-w-full gp-h-full" style="--shadow:none">
      
    <div role="presentation" data-id="gyZmcBfYXq" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" class="gp-group/image gp-relative force-publish-1770478612348 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyZmcBfYXq">
      <div style="border-radius:inherit;--jc:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/48.webp?v=3237585856599946415" srcset="https://lynae.co/cdn/shop/files/48.webp?v=3237585856599946415&amp;width=524 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/48.webp?v=3237585856599946415" srcset="https://lynae.co/cdn/shop/files/48.webp?v=3237585856599946415&amp;width=524 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/48.webp?v=3237585856599946415" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" src="//lynae.co/cdn/shop/files/48.webp?v=3237585856599946415" data-src="//lynae.co/cdn/shop/files/48.webp?v=3237585856599946415" alt="" width="100%" style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/48.webp?v=3237585856599946415&amp;width=524 1440w" srcset="https://lynae.co/cdn/shop/files/48.webp?v=3237585856599946415&amp;width=524 1440w">
    
    </picture>
  
      </div>
    </div>
  
    
    <div data-id="g-JKBkitcJ" class="g-JKBkitcJ" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:5px;--pl:0px;--pb:5px;--pr:0px;--pt-mobile:5px;--pl-mobile:0px;--pb-mobile:5px;--pr-mobile:0px;--pt-tablet:5px;--pl-tablet:0px;--pb-tablet:5px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#222222;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Étape 3 :</p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gr-ismmUXH" class="gr-ismmUXH" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-m);--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-s);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#222222;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Faites en votre <strong>rituel quotidien, tous les matins</strong> et ressentez la différence dès le 1er mois.&nbsp;</p>
        </div>
      </div>
    </div>
    
      </div>
    </div>
  
          </div>
          
    <button type="button" aria-label="Carousel Next Arrow" class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gzNwsG1pq1 gzNwsG1pq1 gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2" style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:flex;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:16px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none" data-hidden="false">
      <style type="text/css">
      .gp-carousel-arrow-gzNwsG1pq1 {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gzNwsG1pq1::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gzNwsG1pq1 {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gzNwsG1pq1::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gzNwsG1pq1 {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gzNwsG1pq1::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div class="gp-flex gp-items-center gp-justify-center [&amp;&gt;svg]:gp-h-full [&amp;&gt;svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0" style="--c:RGBA(2, 131, 113, 0.5);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px">
        <svg height="20" width="20" data-name="arrow-circle-right-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817714167153000">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,109.66-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,173.66,133.66Z"></path></svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gzNwsG1pq1 gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--mt:16px;--mt-tablet:16px;--mt-mobile:0px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script  defer="defer" src="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v=1764017314150"></script>

  
    </div>

      
    </gp-row>
  
        </section>
    </div>
    </div>
  