
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gTot4T53N0 gp-custom-code">
      <div>
    <section class="gp-mx-auto gp-max-w-full [&amp;_*]:gp-max-w-full" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none">
          
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;g0yC1k1WDz&quot;}" data-id="g0yC1k1WDz" id="g0yC1k1WDz" data-same-height-subgrid-container="" class="g0yC1k1WDz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:36px;--pl:80px;--pb:36px;--pr:80px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pt-tablet:36px;--pl-tablet:40px;--pb-tablet:72px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gcli55HgML gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;},&quot;tablet&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#ffffff&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;loop&quot;:&quot;&quot;,&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;,&quot;video&quot;:&quot;&quot;,&quot;videoHtml5&quot;:&quot;&quot;}},&quot;uid&quot;:&quot;grthhM04Ss&quot;}" data-id="grthhM04Ss" id="grthhM04Ss" data-same-height-subgrid-container="" class="grthhM04Ss gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mb-mobile:0px;--pt-mobile:16px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pl-tablet:40px;--pb-tablet:72px;--pr-tablet:40px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--h:auto;--bgc:transparent;--bgc-tablet:#ffffff;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="g3_1ZV49Bz gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gwFbBGiQaI&quot;}" data-id="gwFbBGiQaI" id="gwFbBGiQaI" data-same-height-subgrid-container="" class="gwFbBGiQaI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gZ_QVUSVM6 gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gd6xQK-Y4a" class="gd6xQK-Y4a" style="--ta:left;--bs:solid;--bw:1px 1px 1px 1px;--bc:#8BD4B6;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:16px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:14px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ts:none;--ta:center;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#5E8E49;word-break:break-word;--bgc:#E6F8E5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:10px;--pr:10px;--pt:5px;--pb:5px;overflow:hidden;--tdl:">
          <p>Ingrédients</p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    
    <div data-id="gr1sX9m5Hf" class="gr1sX9m5Hf" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:38px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class="gp-g-heading-3  gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--c:#028370;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:600;">
          Les <strong>4 plantes de l'élixir Zovélia</strong> sont cliniquement prouvées pour éliminer les fluides.
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gsFo0jvQJZ&quot;}" data-id="gsFo0jvQJZ" id="gsFo0jvQJZ" data-same-height-subgrid-container="" class="gsFo0jvQJZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:48px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--cg-tablet:40px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:center" class="g2W-VSLWjd gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#F7F7F7&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gOGyUzZ4i7&quot;}" data-id="gOGyUzZ4i7" id="gOGyUzZ4i7" data-same-height-subgrid-container="" class="gOGyUzZ4i7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#828282;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:24px;--pl:16px;--pb:24px;--pr:16px;--mb-mobile:11px;--pt-mobile:20px;--pl-mobile:14px;--pb-mobile:20px;--pr-mobile:14px;--pt-tablet:20px;--pl-tablet:14px;--pb-tablet:20px;--pr-tablet:14px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:100%;--h-tablet:100%;--h-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gZldJaF2ec gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gsaWjf7vYb" class="gsaWjf7vYb" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:8px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:20px;--size-tablet:16px;--size-mobile:15px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.6px;--weight:bold;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><strong>GAILLET GRATERON</strong></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gGYJyGVMbw" class="gGYJyGVMbw" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="gp-g-subheading-2  gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><i>(Galium aparine)</i></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gD9toSxobU" class="gD9toSxobU" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:160%;--lh-mobile:160%;--ls:undefined;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Les études scientifiques le présentent comme le "tonique lymphatique" pour remettre la lymphe en mouvement. Il est reconnu pour son activité antioxydante sur les vaisseaux et capillaires grâce à ses polyphénols, ce qui les rends moins poreux.&nbsp;</p>
        </div>
      </div>
    </div>
    
    <div role="presentation" data-id="gGV0V-FstR" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" class="gp-group/image gp-relative force-publish-1769010134903 gp-flex-none gp-h-auto mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gGV0V-FstR">
      <div style="border-radius:inherit;--jc:left;--jc-mobile:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856&amp;width=369 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856&amp;width=369 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856" quality-type="{}" quality-percent="{}" src="//lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856" data-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856" alt="" width="100%" style="--aspect:auto;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:rounded;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856&amp;width=369 1440w" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-d584ccd9-82dd-43d0-acce-7696895c1226.png?v=16851494627786365856&amp;width=369 1440w">
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div data-same-height-display-contents="" style="--jc:center" class="gqgEp0vpCO gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#F7F7F7&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;glWkaZKF7H&quot;}" data-id="glWkaZKF7H" id="glWkaZKF7H" data-same-height-subgrid-container="" class="glWkaZKF7H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#828282;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:24px;--pl:16px;--pb:24px;--pr:16px;--mb-mobile:9px;--pt-mobile:20px;--pl-mobile:14px;--pb-mobile:20px;--pr-mobile:14px;--pt-tablet:20px;--pl-tablet:14px;--pb-tablet:20px;--pr-tablet:14px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:100%;--h-tablet:100%;--h-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gsgk7aJdrh gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="g6UyMdxABT" class="g6UyMdxABT" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:8px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:20px;--size-tablet:16px;--size-mobile:15px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.6px;--weight:bold;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><strong>TREFLE ROUGE</strong></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="g9yqPzs131" class="g9yqPzs131" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="gp-g-subheading-2  gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><i><strong>(Trifolium Pratense)</strong></i></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gmvAfntF05" class="gmvAfntF05" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:160%;--lh-mobile:160%;--ls:undefined;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Il contient des isoflavones qui protègent les vaisseaux des lésions oxydatives, ces "étincelles" qui créent des fuites d'eau. En 2012, une étude a démontré que le trèfle rouge possède "une activité antioxydante marquée" et aide à lisser les variations hormonales féminines.</p>
        </div>
      </div>
    </div>
    
    <div role="presentation" data-id="gl0PQSYuh7" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" class="gp-group/image gp-relative force-publish-1769010134908 gp-flex-none gp-h-auto mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gl0PQSYuh7">
      <div style="border-radius:inherit;--jc:left;--jc-mobile:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862&amp;width=369 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862&amp;width=369 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862" quality-type="{}" quality-percent="{}" src="//lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862" data-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862" alt="" width="100%" style="--aspect:auto;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:rounded;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862&amp;width=369 1440w" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-60a94097-0fb4-44b9-89f5-fa39622619c2.png?v=10038226417403518862&amp;width=369 1440w">
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div data-same-height-display-contents="" style="--jc:center" class="gn8qhTq9yw gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#F7F7F7&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gsjYBEqEoY&quot;}" data-id="gsjYBEqEoY" id="gsjYBEqEoY" data-same-height-subgrid-container="" class="gsjYBEqEoY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#828282;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:24px;--pl:16px;--pb:24px;--pr:16px;--mb-mobile:10px;--pt-mobile:20px;--pl-mobile:14px;--pb-mobile:20px;--pr-mobile:14px;--pt-tablet:20px;--pl-tablet:14px;--pb-tablet:20px;--pr-tablet:14px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:100%;--h-tablet:100%;--h-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gTEJpeE4UL gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gf4Ggsl8Js" class="gf4Ggsl8Js" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:8px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:20px;--size-tablet:16px;--size-mobile:15px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.6px;--weight:bold;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><strong>STILLINGIA</strong></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gExBY3cqQ9" class="gExBY3cqQ9" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="gp-g-subheading-2  gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><i><strong>(Stillingia Sylvatica)</strong></i></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gk7lwQknIn" class="gk7lwQknIn" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:160%;--lh-mobile:160%;--ls:undefined;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>"Le délice de la reine" traditionnellement utilisé en sirop par les amérindiens comme "stimulant lymphatique" et pour éliminer les toxines et les déchets du corps.</p>
        </div>
      </div>
    </div>
    
    <div role="presentation" data-id="g2Ob4ZaHFZ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" class="gp-group/image gp-relative force-publish-1769010134913 gp-flex-none gp-h-auto mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full g2Ob4ZaHFZ">
      <div style="border-radius:inherit;--jc:left;--jc-mobile:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051&amp;width=369 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051&amp;width=369 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051" quality-type="{}" quality-percent="{}" src="//lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051" data-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051" alt="" width="100%" style="--aspect:auto;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:rounded;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051&amp;width=369 1440w" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-7d7c8b5b-0288-4ac5-a2be-621da439e2fd.png?v=1700706596411918051&amp;width=369 1440w">
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div data-same-height-display-contents="" style="--jc:center" class="gV9RfcwhIZ gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#F7F7F7&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gOEreGQwsE&quot;}" data-id="gOEreGQwsE" id="gOEreGQwsE" data-same-height-subgrid-container="" class="gOEreGQwsE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#828282;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:24px;--pl:16px;--pb:24px;--pr:16px;--mb-mobile:10px;--pt-mobile:20px;--pl-mobile:14px;--pb-mobile:20px;--pr-mobile:14px;--pt-tablet:20px;--pl-tablet:14px;--pb-tablet:20px;--pr-tablet:14px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:100%;--h-tablet:100%;--h-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gqjgCDe5Lo gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gdPXvTzs5R" class="gdPXvTzs5R" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:8px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:20px;--size-tablet:16px;--size-mobile:15px;--lh:100%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.6px;--weight:bold;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><strong>FRÊNE PIQUANT</strong></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="g-KWV17avP" class="g-KWV17avP" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class="gp-g-subheading-2  gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><i><strong>(Zanthoxylum Americanum)</strong></i></p>
        </div>
      </div>
    </div>
    
    
    <div data-id="gYgHyi8886" class="gYgHyi8886" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:160%;--lh-mobile:160%;--ls:undefined;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Le frêne favorise l'élimination de l'excès d'eau en "douceur" sans effet diurétique. Il est aussi reconnu pour ses propriétés antioxydantes et anti-inflammatoire car il contient lui aussi des polyphénols. Il est aussi reconnu pour réduire les gonflements en limitant les fuites vasculaires.</p>
        </div>
      </div>
    </div>
    
    <div role="presentation" data-id="gvRVAo7fWQ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" class="gp-group/image gp-relative force-publish-1769010134918 gp-flex-none gp-h-auto mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gvRVAo7fWQ">
      <div style="border-radius:inherit;--jc:left;--jc-mobile:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405&amp;width=369 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405&amp;width=369 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405" quality-type="{}" quality-percent="{}" src="//lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405" data-src="//lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405" alt="" width="100%" style="--aspect:auto;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:rounded;--shadow:none" class="gp-inline-block gp-w-full gp-max-w-full gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405&amp;width=369 1440w" srcset="https://lynae.co/cdn/shop/files/gempages_584723707562295877-0ed25819-5144-4b40-8a2e-1ff63daab31a.png?v=4608933009788225405&amp;width=369 1440w">
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    
    <div data-id="golcaGirLL" class="golcaGirLL" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:24px;--mb-mobile:21px;--pb-mobile:6px;--pb-tablet:6px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:160%;--lh-mobile:160%;--ls:undefined;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><i>*L'achat unitaire de chacune de ces 4 plantes dans le bon dosage vous coûterait environ 100 à 160€/mois [16]</i></p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
    </div>
    </div>
  