
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606774657986593335.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606774657986593335.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-606774657986593335.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606774657986593335.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606774657986593335.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-606774657986593335.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606774657986593335.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606774657986593335.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606774657986593335.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606774657986593335.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606774657986593335.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-606774657986593335.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606774657986593335.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606774657986593335.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606774657986593335.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606774657986593335.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606774657986593335.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606774657986593335.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606774657986593335.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606774657986593335.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606774657986593335.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606774657986593335.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606774657986593335.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606774657986593335.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606774657986593335.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-606774657986593335.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606774657986593335.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606774657986593335.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-606774657986593335.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606774657986593335.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606774657986593335.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606774657986593335.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-606774657986593335.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-606774657986593335.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-606774657986593335.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606774657986593335.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606774657986593335.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606774657986593335.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606774657986593335.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-606774657986593335.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606774657986593335.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-606774657986593335.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606774657986593335.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-606774657986593335.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606774657986593335.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606774657986593335.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606774657986593335.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606774657986593335.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606774657986593335.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606774657986593335.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-606774657986593335.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606774657986593335.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606774657986593335.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-606774657986593335.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606774657986593335.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-606774657986593335.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-606774657986593335.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606774657986593335.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606774657986593335.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-606774657986593335.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-606774657986593335.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606774657986593335.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606774657986593335.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606774657986593335.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606774657986593335.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-606774657986593335.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-606774657986593335.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-606774657986593335.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-606774657986593335.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-606774657986593335.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606774657986593335.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606774657986593335.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-606774657986593335.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606774657986593335.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-606774657986593335.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-606774657986593335.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606774657986593335.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606774657986593335.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606774657986593335.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606774657986593335.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-606774657986593335.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-606774657986593335.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-606774657986593335 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-606774657986593335 .gp-invisible{visibility:hidden}.gps-606774657986593335 .gp-absolute{position:absolute}.gps-606774657986593335 .gp-relative{position:relative}.gps-606774657986593335 .gp-inset-0{inset:0}.gps-606774657986593335 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-606774657986593335 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-606774657986593335 .-gp-z-1{z-index:-1}.gps-606774657986593335 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606774657986593335 .gp-mb-0{margin-bottom:0}.gps-606774657986593335 .gp-flex{display:flex}.gps-606774657986593335 .gp-grid{display:grid}.gps-606774657986593335 .\!gp-hidden{display:none!important}.gps-606774657986593335 .gp-hidden{display:none}.gps-606774657986593335 .gp-h-full{height:100%}.gps-606774657986593335 .gp-w-full{width:100%}.gps-606774657986593335 .gp-max-w-full{max-width:100%}.gps-606774657986593335 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606774657986593335 .gp-flex-col{flex-direction:column}.gps-606774657986593335 .\!gp-content-stretch{align-content:stretch!important}.gps-606774657986593335 .gp-items-center{align-items:center}.gps-606774657986593335 .gp-justify-center{justify-content:center}.gps-606774657986593335 .gp-self-center{align-self:center}.gps-606774657986593335 .gp-overflow-hidden{overflow:hidden}.gps-606774657986593335 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-606774657986593335 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606774657986593335 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606774657986593335 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606774657986593335 .gp-duration-200{transition-duration:.2s}.gps-606774657986593335 .gp-duration-300{transition-duration:.3s}.gps-606774657986593335 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-606774657986593335 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-606774657986593335 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-606774657986593335 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-606774657986593335 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-606774657986593335 .tablet\:\!gp-relative{position:relative!important}.gps-606774657986593335 .tablet\:\!gp-hidden{display:none!important}.gps-606774657986593335 .tablet\:gp-hidden{display:none}.gps-606774657986593335 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-606774657986593335 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-606774657986593335 .mobile\:\!gp-relative{position:relative!important}.gps-606774657986593335 .mobile\:\!gp-hidden{display:none!important}.gps-606774657986593335 .mobile\:gp-hidden{display:none}.gps-606774657986593335 .mobile\:\!gp-h-auto{height:auto!important}.gps-606774657986593335 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-606774657986593335 .mobile\:gp-justify-center{justify-content:center}}.gps-606774657986593335 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gZrXN9iir5"}' data-id="gZrXN9iir5" id="gZrXN9iir5" data-same-height-subgrid-container class="gZrXN9iir5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pb:0px;--pt-tablet:0px;--pb-tablet:0px;--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDqWMUt5cE gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="go23WzBRYq gp-custom-code">
      <div>
    <section class="gp-mx-auto gp-max-w-full [&amp;_*]:gp-max-w-full " style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none">
          
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;grSZaZDzon&quot;}" data-id="grSZaZDzon" id="grSZaZDzon" data-same-height-subgrid-container="" class="grSZaZDzon gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gTVVeZlokO gp-relative gp-flex gp-flex-col">
      
      <gp-hero-banner data-id="gP-WyjPGkT" class="gP-WyjPGkT gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto" gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;bg-2&quot;,&quot;image&quot;:{&quot;src&quot;:&quot;https://cdn.shopify.com/s/files/1/0965/2289/5690/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png&quot;,&quot;width&quot;:2048,&quot;height&quot;:2048,&quot;storage&quot;:&quot;FILE_CONTENT&quot;,&quot;backupFileKey&quot;:&quot;gempages_584723707562295877-47196312-8372-4e0e-8549-736dc7f7b763.png&quot;},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:100},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;image&quot;,&quot;videoHtml5&quot;:&quot;https://media.w3.org/2010/05/sintel/trailer.mp4&quot;,&quot;videoType&quot;:&quot;youtube&quot;,&quot;preload&quot;:true},&quot;tablet&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;bg-2&quot;,&quot;image&quot;:{&quot;src&quot;:&quot;https://cdn.shopify.com/s/files/1/0965/2289/5690/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png&quot;,&quot;width&quot;:2048,&quot;height&quot;:2048,&quot;storage&quot;:&quot;FILE_CONTENT&quot;,&quot;backupFileKey&quot;:&quot;gempages_584723707562295877-47196312-8372-4e0e-8549-736dc7f7b763.png&quot;},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:100},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;image&quot;,&quot;videoHtml5&quot;:&quot;https://media.w3.org/2010/05/sintel/trailer.mp4&quot;,&quot;videoType&quot;:&quot;youtube&quot;,&quot;preload&quot;:true},&quot;mobile&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;bg-2&quot;,&quot;image&quot;:{&quot;src&quot;:&quot;https://cdn.shopify.com/s/files/1/0965/2289/5690/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png&quot;,&quot;width&quot;:2048,&quot;height&quot;:2048,&quot;storage&quot;:&quot;FILE_CONTENT&quot;,&quot;backupFileKey&quot;:&quot;gempages_584723707562295877-47196312-8372-4e0e-8549-736dc7f7b763.png&quot;},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:100},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;image&quot;,&quot;videoHtml5&quot;:&quot;https://media.w3.org/2010/05/sintel/trailer.mp4&quot;,&quot;videoType&quot;:&quot;youtube&quot;,&quot;preload&quot;:true}},&quot;uid&quot;:&quot;gP-WyjPGkT&quot;,&quot;speedParallax&quot;:0,&quot;hoverEffect&quot;:true,&quot;hoverEffectScale&quot;:&quot;100%&quot;,&quot;layout&quot;:{&quot;desktop&quot;:{&quot;cols&quot;:[12],&quot;display&quot;:&quot;fill&quot;}},&quot;contentPosition1Col&quot;:{&quot;desktop&quot;:&quot;center&quot;},&quot;contentPosition2Col&quot;:{&quot;desktop&quot;:&quot;center&quot;},&quot;sizeSetting&quot;:{&quot;desktop&quot;:{&quot;height&quot;:&quot;auto&quot;,&quot;shape&quot;:&quot;custom&quot;,&quot;shapeLinked&quot;:false,&quot;width&quot;:&quot;100%&quot;,&quot;enableVideoShape&quot;:false},&quot;tablet&quot;:{&quot;height&quot;:&quot;auto&quot;,&quot;shape&quot;:&quot;custom&quot;,&quot;shapeLinked&quot;:false,&quot;width&quot;:&quot;100%&quot;},&quot;mobile&quot;:{&quot;height&quot;:&quot;auto&quot;,&quot;shape&quot;:&quot;custom&quot;,&quot;shapeLinked&quot;:false,&quot;width&quot;:&quot;100%&quot;,&quot;enableVideoShape&quot;:false}},&quot;videoObjectFit&quot;:{},&quot;target&quot;:&quot;_self&quot;,&quot;href&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;&quot;,&quot;hoverEffectDuration&quot;:0.5,&quot;isYoutubeVideoMigrated&quot;:true}">
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:var(--g-c-bg-2)">
      <div class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0" style="clip-path:inset(0px)">
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url(//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665);--bgi-tablet:url(//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665);--bgi-mobile:url(//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 100%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#000000;--bgc:#000000;--op:50%;--hvr-op:50%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data="{}" data-id="" id="" data-same-height-subgrid-container="" class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&amp;&gt;*&gt;*]:!gp-justify-undefined mobile:[&amp;&gt;*&gt;*]:!gp-justify-undefined !gp-content-stretch [&amp;&gt;*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&amp;&gt;*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&amp;&gt;*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:auto;--cg-mobile:auto;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gsHRmLjSyZ gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gu2bzQJnZp&quot;}" data-id="gu2bzQJnZp" id="gu2bzQJnZp" data-same-height-subgrid-container="" class="gu2bzQJnZp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:186px;--mb:186px;--pt:0px;--pb:0px;--mt-mobile:70px;--mb-mobile:70px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:570px;--w-tablet:570px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gWGq5LmG07 gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gD__KRrtFN" class="gD__KRrtFN" style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:center">
        <h2 data-gp-text="" class="gp-text-g-text-3 gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:">
          Notre histoire
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665" srcset="//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665" srcset="//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665">
    
      
      <img loading="eager" fetchpriority="high" title="" fallbackimg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" src="//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665" data-src="//lynae.co/cdn/shop/files/hf_20260123_112706_917a22d9-9896-4b51-9563-85ffcd6590c1.png?v=4770940763424293665" alt="" width="100%" style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%" class="adaptive-hero-banner">
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script src="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v=1764017314150" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Notre Histoire" }],
    "name": "Notre Histoire",
    "tag": "section",
    "class": "gps-606774657986593335 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j8f0pt-e4/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=606774657986593335)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}