
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606873108636238596.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-606873108636238596.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-606873108636238596.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-606873108636238596.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606873108636238596.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606873108636238596.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-606873108636238596.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606873108636238596.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606873108636238596.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606873108636238596.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606873108636238596.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-606873108636238596.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-606873108636238596.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-606873108636238596.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-606873108636238596.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-606873108636238596.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606873108636238596.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-606873108636238596.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-606873108636238596.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606873108636238596.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-606873108636238596.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606873108636238596.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-606873108636238596.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606873108636238596.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-606873108636238596.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606873108636238596.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606873108636238596.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606873108636238596.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-606873108636238596.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-606873108636238596.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606873108636238596.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606873108636238596.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-606873108636238596.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-606873108636238596.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606873108636238596.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606873108636238596.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606873108636238596.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-606873108636238596.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-606873108636238596.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606873108636238596.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606873108636238596.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606873108636238596.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606873108636238596.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-606873108636238596.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-606873108636238596.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606873108636238596.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606873108636238596.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606873108636238596.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606873108636238596.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606873108636238596.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606873108636238596.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606873108636238596.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606873108636238596.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606873108636238596.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606873108636238596.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-606873108636238596.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606873108636238596.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606873108636238596.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606873108636238596.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606873108636238596.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-606873108636238596.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606873108636238596.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606873108636238596.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-606873108636238596.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-606873108636238596.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606873108636238596.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606873108636238596.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606873108636238596.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606873108636238596.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-606873108636238596.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-606873108636238596.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606873108636238596.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606873108636238596.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-606873108636238596.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606873108636238596.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606873108636238596.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606873108636238596.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-606873108636238596.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606873108636238596.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-606873108636238596.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606873108636238596.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606873108636238596.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606873108636238596.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606873108636238596.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-606873108636238596.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-606873108636238596.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606873108636238596.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606873108636238596 .-gp-rotate-90,.gps-606873108636238596 .gp-rotate-180,.gps-606873108636238596 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-606873108636238596 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-606873108636238596 .gp-relative{position:relative}.gps-606873108636238596 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606873108636238596 .gp-mb-0{margin-bottom:0}.gps-606873108636238596 .gp-inline-block{display:inline-block}.gps-606873108636238596 .gp-flex{display:flex}.gps-606873108636238596 .gp-inline-flex{display:inline-flex}.gps-606873108636238596 .gp-grid{display:grid}.gps-606873108636238596 .gp-contents{display:contents}.gps-606873108636238596 .\!gp-hidden{display:none!important}.gps-606873108636238596 .gp-hidden{display:none}.gps-606873108636238596 .gp-h-auto{height:auto}.gps-606873108636238596 .gp-h-full{height:100%}.gps-606873108636238596 .gp-min-h-0{min-height:0}.gps-606873108636238596 .gp-w-full{width:100%}.gps-606873108636238596 .gp-max-w-full{max-width:100%}.gps-606873108636238596 .gp-flex-none{flex:none}.gps-606873108636238596 .-gp-rotate-90{--tw-rotate:-90deg}.gps-606873108636238596 .-gp-rotate-90,.gps-606873108636238596 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-606873108636238596 .gp-rotate-180{--tw-rotate:180deg}.gps-606873108636238596 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-606873108636238596 .gp-cursor-pointer{cursor:pointer}.gps-606873108636238596 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-606873108636238596 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606873108636238596 .gp-flex-col{flex-direction:column}.gps-606873108636238596 .gp-items-center{align-items:center}.gps-606873108636238596 .gp-justify-center{justify-content:center}.gps-606873108636238596 .gp-gap-\[16px\]{gap:16px}.gps-606873108636238596 .gp-overflow-hidden{overflow:hidden}.gps-606873108636238596 .gp-overflow-clip{overflow:clip}.gps-606873108636238596 .gp-break-words{overflow-wrap:break-word}.gps-606873108636238596 .gp-break-all{word-break:break-all}.gps-606873108636238596 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-606873108636238596 .gp-no-underline{text-decoration-line:none}.gps-606873108636238596 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606873108636238596 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606873108636238596 .gp-duration-200{transition-duration:.2s}.gps-606873108636238596 .gp-duration-500{transition-duration:.5s}.gps-606873108636238596 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606873108636238596 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-606873108636238596 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-606873108636238596 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-606873108636238596 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}.gps-606873108636238596 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-606873108636238596 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-606873108636238596 .tablet\:\!gp-hidden{display:none!important}.gps-606873108636238596 .tablet\:gp-hidden{display:none}.gps-606873108636238596 .tablet\:gp-h-auto{height:auto}.gps-606873108636238596 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-606873108636238596 .mobile\:\!gp-hidden{display:none!important}.gps-606873108636238596 .mobile\:gp-hidden{display:none}.gps-606873108636238596 .mobile\:gp-h-auto{height:auto}.gps-606873108636238596 .mobile\:gp-flex-none{flex:none}}.gps-606873108636238596 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g2KHa-Pv3L"}' data-id="g2KHa-Pv3L" id="g2KHa-Pv3L" data-same-height-subgrid-container class="g2KHa-Pv3L gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pb:var(--g-s-2xl);--pt-tablet:0px;--pb-tablet:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjc6PixjlM gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gSSI1O_-Un gp-custom-code">
      <div>
    <section class="gp-mx-auto gp-max-w-full [&amp;_*]:gp-max-w-full" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none">
          
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#F7F7F7&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gkzje5Mrpp&quot;}" data-id="gkzje5Mrpp" id="gkzje5Mrpp" data-same-height-subgrid-container="" class="gkzje5Mrpp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:119px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7F7F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="g2JewQ9-Rf gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#FFFFFF&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;g4yok9QMi7&quot;}" data-id="g4yok9QMi7" id="g4yok9QMi7" data-same-height-subgrid-container="" class="g4yok9QMi7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mb-mobile:0px;--pb-mobile:68px;--mb-tablet:0px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gVE8TZVEli gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gmY-DI2OOM&quot;}" data-id="gmY-DI2OOM" id="gmY-DI2OOM" data-same-height-subgrid-container="" class="gmY-DI2OOM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--cg:8px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:700px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gSvsq4BHne gp-relative gp-flex gp-flex-col">
      
    <div role="presentation" data-id="gx3jsnolOg" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-89px;--mb:24px;--mt-mobile:-77px;--mb-mobile:28px;--ta:center" class="gp-group/image gp-relative force-publish-1768390619229 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gx3jsnolOg">
      <div style="border-radius:inherit;--jc:center" class="gp-h-full gp-w-full gp-flex pointer-events-auto">
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcset="//lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694" srcset="https://lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694&amp;width=317 767w">
      <source media="(max-width: 1024px)" data-srcset="//lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694" srcset="https://lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694&amp;width=317 1023w">
    
      
      <img base-src="//lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694" quality-type="{}" quality-percent="{}" src="//lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694" data-src="//lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694" alt="" width="100%" style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:211px;--w-tablet:211px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto" class="gp-inline-block gp-w-full gp-max-w-full gp_ls-is-cached gp_lazyloaded" data-quality="150" data-srcset="https://lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694&amp;width=317 1440w" srcset="https://lynae.co/cdn/shop/files/LYNAE_-_Fiche_produit.png?v=6228022025712797694&amp;width=317 1440w">
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gx3jsnolOg">
        .gx3jsnolOg {

}
.gx3jsnolOg > figure > img {

}
      </style>
    
    
    <div data-id="ghnKHvyUo_" class="ghnKHvyUo_" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#028370;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <strong>Garantie satisfait ou remboursé 60 jours</strong>
        </h2>
      </div>
    </div>
    
    
    <div data-id="gZF6X7P-3_" class="gZF6X7P-3_" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#222222;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p><span style="font-size:14px;">Nous prenons le risque de vous rembourser si vous nous dîtes que Lynae n'a pas fonctionné pour vous.</span></p><p>&nbsp;</p><p><span style="color:rgb(0,0,0);font-size:14px;">Si vous faîtes malheureusement partie des 1% des femmes pour qui relancer la lymphe ne donne aucun résultats visibles après 60 jours… Alors nous nous engageons à vous rembourser les produits non-utilisés retournés.</span></p>
        </div>
      </div>
    </div>
    
      <style id="custom-css-gZF6X7P-3_">
        .gZF6X7P-3_ {

}
.gZF6X7P-3_ p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
    </div>
    </div>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb-tablet:0px;--mb-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gE5jAiJUo5 gp-custom-code">
      <div>
    <section class="gp-mx-auto gp-max-w-full [&amp;_*]:gp-max-w-full" style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none">
          
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;#FFFFFF&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;preload&quot;:false,&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gPACNBuwpV&quot;}" data-id="gPACNBuwpV" id="gPACNBuwpV" data-same-height-subgrid-container="" class="gPACNBuwpV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:15px;--pb:40px;--pr:15px;--pt-mobile:30px;--pl-mobile:20px;--pb-mobile:30px;--pr-mobile:20px;--pt-tablet:30px;--pl-tablet:var(--g-s-l);--pb-tablet:30px;--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gqZJDl6FhU gp-relative gp-flex gp-flex-col">
      
    

    

    
    <gp-row gp-data="{&quot;uid&quot;:&quot;gRxHj9Jnq0&quot;}" data-id="gRxHj9Jnq0" id="gRxHj9Jnq0" data-same-height-subgrid-container="" class="gRxHj9Jnq0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--h:auto;--pc:start">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gG13skGFyr gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gZez-edBuz" class="gZez-edBuz" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <h2 data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-heading, heading);--size:40px;--size-tablet:36px;--size-mobile:28px;--lh:40px;--lh-tablet:40px;--lh-mobile:36px;--weight:bold;--c:#028370;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          Des réponses à vos questions
        </h2>
      </div>
    </div>
    
    
    <div data-id="gKxjB5edZw" class="gKxjB5edZw" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:21px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Vous avez une question ?&nbsp;On y répond ! </p><p>Notre équipe vous répond du Lundi au vendredi de 9h à 18h - <strong>contact@zovélia.co&nbsp;</strong></p>
        </div>
      </div>
    </div>
    
    </div><div data-same-height-display-contents="" style="--jc:start" class="gGp1s9vsLC gp-relative gp-flex gp-flex-col">
      <div gp-el-wrapper="" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gi_WR7XTjG ">
      
    <gp-accordion data-id="gi_WR7XTjG" class="gp-flex gp-flex-col gp-w-full" style="--gg:null;border-radius:inherit" gp-data="{&quot;uid&quot;:&quot;gi_WR7XTjG&quot;,&quot;setting&quot;:{&quot;iconSvg&quot;:&quot;&lt;svg width=\&quot;17\&quot; height=\&quot;16\&quot; viewBox=\&quot;0 0 17 16\&quot; fill=\&quot;none\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;&gt;\n                  &lt;path d=\&quot;M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\&quot; fill=\&quot;currentColor\&quot;/&gt;\n                  &lt;/svg&gt;&quot;,&quot;isIconPlus&quot;:false,&quot;activeKey&quot;:1,&quot;expanded&quot;:false,&quot;expandItem&quot;:false,&quot;iconPosition&quot;:&quot;right&quot;,&quot;iconGlobalSize&quot;:{&quot;desktop&quot;:{&quot;gap&quot;:&quot;16px&quot;,&quot;height&quot;:&quot;16px&quot;,&quot;width&quot;:&quot;16px&quot;}},&quot;iconCollapse&quot;:&quot;&lt;svg height=\&quot;20\&quot; width=\&quot;20\&quot; data-name=\&quot;plus-bold\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;  viewBox=\&quot;0 0 256 256\&quot; fill=\&quot;currentColor\&quot; data-id=\&quot;508817587901825384\&quot;&gt;\n              &lt;path fill=\&quot;currentColor\&quot; strokeLinecap=\&quot;round\&quot; strokeLinejoin=\&quot;round\&quot; fill=\&quot;currentColor\&quot; d=\&quot;M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\&quot; /&gt;&lt;/svg&gt;&quot;,&quot;iconExpand&quot;:&quot;&lt;svg height=\&quot;20\&quot; width=\&quot;20\&quot; data-name=\&quot;minus-bold\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;  viewBox=\&quot;0 0 256 256\&quot; fill=\&quot;currentColor\&quot; data-id=\&quot;508817584339812712\&quot;&gt;\n              &lt;path fill=\&quot;currentColor\&quot; strokeLinecap=\&quot;round\&quot; strokeLinejoin=\&quot;round\&quot; fill=\&quot;currentColor\&quot; d=\&quot;M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\&quot; /&gt;&lt;/svg&gt;&quot;,&quot;layoutHeader&quot;:&quot;text-only&quot;,&quot;expandedMode&quot;:&quot;single&quot;,&quot;configIconSize&quot;:16,&quot;parentUid&quot;:&quot;gi_WR7XTjG&quot;,&quot;childListNumber&quot;:[],&quot;chidlrenUid&quot;:[&quot;gSdlzxY3x-&quot;,&quot;gAfVpTXU1p&quot;,&quot;gmiR0o4_rv&quot;,&quot;ggnC8yJjci&quot;,&quot;gndhFz37ra&quot;,&quot;gxSTbFLU1O&quot;,&quot;g9iNPxBqxu&quot;]},&quot;styles&quot;:{&quot;bgColor&quot;:{&quot;normal&quot;:&quot;transparent&quot;},&quot;color&quot;:{&quot;active&quot;:&quot;#242424&quot;,&quot;hover&quot;:&quot;#242424&quot;,&quot;normal&quot;:&quot;#242424&quot;},&quot;headerBorder&quot;:{&quot;active&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderType&quot;:&quot;style-1&quot;,&quot;borderWidth&quot;:&quot;0&quot;,&quot;color&quot;:&quot;#121212&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 0px 0px&quot;},&quot;hover&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderType&quot;:&quot;style-1&quot;,&quot;borderWidth&quot;:&quot;1px&quot;,&quot;color&quot;:&quot;#E0E0E0&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 1px 0px&quot;},&quot;normal&quot;:{&quot;border&quot;:&quot;solid&quot;,&quot;borderType&quot;:&quot;style-1&quot;,&quot;borderWidth&quot;:&quot;1px&quot;,&quot;color&quot;:&quot;#E0E0E0&quot;,&quot;isCustom&quot;:true,&quot;position&quot;:&quot;bottom&quot;,&quot;width&quot;:&quot;0px 0px 1px 0px&quot;}},&quot;fullWidth&quot;:{&quot;desktop&quot;:true},&quot;width&quot;:{&quot;desktop&quot;:&quot;1170px&quot;},&quot;itemHeaderSpacing&quot;:{&quot;custom&quot;:{&quot;desktop&quot;:{&quot;horizontal&quot;:&quot;0px&quot;,&quot;vertical&quot;:&quot;32px&quot;},&quot;mobile&quot;:{&quot;horizontal&quot;:&quot;0px&quot;,&quot;vertical&quot;:&quot;28px&quot;}}},&quot;textColor&quot;:{&quot;active&quot;:&quot;#242424&quot;,&quot;hover&quot;:&quot;#242424&quot;,&quot;normal&quot;:&quot;#141617&quot;},&quot;iconColor&quot;:{&quot;active&quot;:&quot;#121212&quot;,&quot;hover&quot;:&quot;#121212&quot;,&quot;normal&quot;:&quot;#121212&quot;},&quot;contentSizePadding&quot;:{&quot;desktop&quot;:{&quot;gap&quot;:null,&quot;padding&quot;:{&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;top&quot;:&quot;0px&quot;}},&quot;mobile&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;top&quot;:&quot;0px&quot;,&quot;type&quot;:&quot;custom&quot;}},&quot;tablet&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;0px&quot;,&quot;left&quot;:&quot;0px&quot;,&quot;right&quot;:&quot;0px&quot;,&quot;top&quot;:&quot;0px&quot;}}},&quot;headerContentPadding&quot;:{&quot;desktop&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;12px&quot;,&quot;left&quot;:&quot;0px&quot;,&quot;link&quot;:false,&quot;right&quot;:&quot;0px&quot;,&quot;top&quot;:&quot;12px&quot;,&quot;type&quot;:&quot;custom&quot;}},&quot;mobile&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;7px&quot;,&quot;left&quot;:&quot;0px&quot;,&quot;link&quot;:false,&quot;right&quot;:&quot;0px&quot;,&quot;top&quot;:&quot;7px&quot;,&quot;type&quot;:&quot;custom&quot;}},&quot;tablet&quot;:{&quot;padding&quot;:{&quot;bottom&quot;:&quot;8px&quot;,&quot;left&quot;:&quot;0px&quot;,&quot;link&quot;:false,&quot;right&quot;:&quot;0px&quot;,&quot;top&quot;:&quot;8px&quot;,&quot;type&quot;:&quot;custom&quot;}}},&quot;widthHeightSize&quot;:{&quot;desktop&quot;:{&quot;width&quot;:&quot;100%&quot;},&quot;mobile&quot;:{&quot;width&quot;:&quot;100%&quot;},&quot;tablet&quot;:{&quot;width&quot;:&quot;100%&quot;}}}}">
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="0" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="gSdlzxY3x-" id="gSdlzxY3x-" data-index="0" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-0" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="0" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p><span style="color:#222222;">En combien de temps vais-je voir des résultats ?</span></p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="gyK7Hbf7hq gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="ggQ8_1oIBS" class="ggQ8_1oIBS" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>La plupart de nos clientes nous rapportent des résultats visibles dès la première semaine d'utilisation:</p><p>&nbsp;</p><ul><li>Le visage paraît moins bouffie au réveil, les traits sont moins tirés</li><li>Moins de ballonnements et une sensation de confort au niveau du ventre</li><li>Des jambes plus légères et des chevilles moins gonflées</li><li>Beaucoup remarquent aussi une amélioration de leur motivation</li></ul><p>&nbsp;</p><p>Cependant, chaque femmes est différente. On vous conseille de rester constante dans votre utilisation pendant 3 à 4 semaines pour vraiment apprécier l'évolution sur votre silhouette.</p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="1" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="gAfVpTXU1p" id="gAfVpTXU1p" data-index="1" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-1" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="1" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p >Un flacon, c'est pour combien de temps ?</p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="gBJQGNuDzh gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gtQo3IfHzf" class="gtQo3IfHzf" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>À raison de <strong>1 à 2 ml par jour</strong>, un flacon couvre <strong>30 jours</strong>.</p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="2" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="gmiR0o4_rv" id="gmiR0o4_rv" data-index="2" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-2" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="2" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p >Y a-t-il des effets secondaires ?</p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="gY_hJqLmPB gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gF27h2MXy5" class="gF27h2MXy5" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Aucun effet secondaire n'a été ressentis par nos 1000+ clientes jusqu'à présent. N'hésitez pas à en parler à votre professionnel de santé si vous avez un doute avant de commencer Lymphea.</p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="3" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="ggnC8yJjci" id="ggnC8yJjci" data-index="3" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-3" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="3" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p >Puis-je le prendre en permanence ?</p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="gOQDnLvaTd gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="gvzKgkIADG" class="gvzKgkIADG" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Oui, mais on recommande des <strong>cycles</strong> : <strong>8–12 semaines</strong>, puis <strong>1–2 semaines de pause</strong>.</p><p>En entretien (ménopause, jambes lourdes récurrentes) : possible <strong>3–5 jours/semaine</strong> après la cure.</p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="4" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="gndhFz37ra" id="gndhFz37ra" data-index="4" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-4" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="4" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p >Est-ce que ça marche vraiment ?</p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="gO6vhzoCcW gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="g_dlq013xW" class="g_dlq013xW" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Avec l'élixir Zovélia, <strong>vous ciblez la cause profonde de vos gonflements</strong> et de votre sensation de lourdeur: <strong>votre lymphe ralentie par le stress oxydatif</strong>.</p><p>&nbsp;</p><p>Grâce aux 4 plantes que nous utilisons et qui sont cliniquement reconnues pour être anti-inflammatoire et relancer la circulation de la lymphe… <strong>Vous donnez enfin à votre corps le moyen d'éliminer l'eau et et les déchets</strong> qui se sont accumulés dans votre visage, votre ventre et vos jambes.</p><p>&nbsp;</p><p><strong>Des milliers de clientes rapportent les mêmes signaux de soulagement et de légèreté</strong> depuis qu'elles ont relancé leur lymphe.</p><p>&nbsp;</p><p>On vous rappelle aussi que <strong>vous pouvez faire valoir votre garantie de résultats pendant 60 jours si vous ne constatez aucun résultats visibles</strong>.</p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="5" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="gxSTbFLU1O" id="gxSTbFLU1O" data-index="5" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-5" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="5" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p >Comment ça se compare aux massages lymphatiques ?</p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="g5KFJv1HMA gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="g7OOZhOIsH" class="g7OOZhOIsH" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <p>Les massages peuvent vous offrir un soulagement "en surface" rapide, <strong>mais de quelques jours seulement</strong>.... Sans compter qu'<strong>une séance coûte environ 100€ à renouveler 3 voire 4 fois par mois</strong>.</p><p><strong>Les massages ne ciblent en aucun cas la cause profonde de votre rétention d'eau</strong>: le stress oxydatif qui ralentie votre lymphe et fait fuir les toxines dans vos tissus.</p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:transparent">
    <div data-index="6" class="gi_WR7XTjG gp-overflow-hidden gp-child-item-gi_WR7XTjG gp-accordion-item">
      <div aria-hidden="" uid="g9iNPxBqxu" id="g9iNPxBqxu" data-index="6" class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gi_WR7XTjG gp-accordion-item-gi_WR7XTjG-6" style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:7px;--pb-mobile:7px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#E0E0E0;--hvr-bc:#E0E0E0">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:16px;height:16px" data-index="6" class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&amp;&gt;svg]:!gp-h-[var(--height-iconCollapseSize)] [&amp;&gt;svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z"></path></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    
    <div data-id="" style="--c:#141617;--dynamic-source-color:#F4F4F4">
      <div>
        <div data-gp-text="" class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important] gp-g-paragraph-2  gp-text-instant" style="--w:100%;--tdt:auto;word-break:break-word;overflow:hidden;--tdl:">
          <p >Puis-je le prendre avec mes médicaments ?</p>
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="6" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows: unset; grid-template-columns: minmax(auto, 100%); max-height: 0px;">
        <div data-index="6" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl: 0px; --pr: 0px; --pt: 0px; --pb: 0px; --pl-tablet: 0px; --pr-tablet: 0px; --pt-tablet: 0px; --pb-tablet: 0px; --pl-mobile: 0px; --pr-mobile: 0px; --pt-mobile: 0px; --pb-mobile: 0px;">
          <div data-same-height-display-contents="" class="g6hjiz1wNc gp-relative gp-flex gp-flex-col">
      
    
    <div data-id="g6rz9ph3U_" class="g6rz9ph3U_" style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4">
      <div class="gp-flex" style="--jc:left">
        <div data-gp-text="" class=" gp-text-instant gp-text" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:22px;--lh-tablet:22px;--lh-mobile:24px;--c:#1C1C1C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:">
          <ul><li>Si vous prenez des&nbsp;<strong>diurétiques</strong>,&nbsp;<strong>antihypertenseurs</strong>,&nbsp;<strong>anticoagulants/anti-plaquettaires</strong>, une&nbsp;<strong>hormonothérapie</strong>, ou en cas de&nbsp;<strong>maladie du foie/reins</strong>&nbsp;:&nbsp;<strong>demandez l’avis</strong>&nbsp;de votre professionnel de santé.</li><li>Déconseillé&nbsp;<strong>grossesse/allaitement</strong>.</li><li>Si antécédent de&nbsp;<strong>cancer hormonodépendant</strong>&nbsp;ou&nbsp;<strong>allergie aux Fabacées</strong>&nbsp;(famille du trèfle) :&nbsp;<strong>avis médical</strong>.</li></ul><p><i>Complément alimentaire. Ne se substitue pas à une alimentation variée, équilibrée et à un mode de vie sain.</i></p>
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script  defer="defer" src="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v=1764017314150"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data="{&quot;background&quot;:{&quot;desktop&quot;:{&quot;attachment&quot;:&quot;scroll&quot;,&quot;color&quot;:&quot;transparent&quot;,&quot;image&quot;:{&quot;height&quot;:0,&quot;src&quot;:&quot;&quot;,&quot;width&quot;:0},&quot;position&quot;:{&quot;x&quot;:50,&quot;y&quot;:50},&quot;repeat&quot;:&quot;no-repeat&quot;,&quot;size&quot;:&quot;cover&quot;,&quot;type&quot;:&quot;color&quot;}},&quot;uid&quot;:&quot;gM7OJ7_qhf&quot;}" data-id="gM7OJ7_qhf" id="gM7OJ7_qhf" data-same-height-subgrid-container="" class="gM7OJ7_qhf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&amp;_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--pt:16px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:16px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:16px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div data-same-height-display-contents="" style="--jc:start" class="gs5dnKiO3I gp-relative gp-flex gp-flex-col">
      
    <gp-button gp-data="{&quot;btnLink&quot;:{&quot;link&quot;:&quot;#scroll-to-top&quot;,&quot;title&quot;:&quot;Top&quot;,&quot;type&quot;:&quot;scroll-to&quot;}}" class="gp-flex gp-flex-col">
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
        <style>[data-id="geYTLepn8N"].gp-button-base::before, [data-id="geYTLepn8N-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="geYTLepn8N"]:hover::before, [data-id="geYTLepn8N-interaction"]:hover::before {
    
    
  }</style>
        <a class="gp-trigger-button-link gp-hidden" href="#scroll-to-top" target="undefined"></a>
        <button data-id="geYTLepn8N" dataid="geYTLepn8N" data-state="idle" aria-label="&lt;p&gt;COMMENCER AUJOURD'HUI&lt;/p&gt;" href="#scroll-to-top" target="" type="button" style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--hvr-bg:#6ED1BD;--bg:#028370;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--ls:0.6px;--weight:bold" class="geYTLepn8N gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 ">
        
        <div class="gp-inline-flex">
          
          
    <span data-gp-text="" style="--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:180%;--lh-mobile:180%;--ls:0.6px;--weight:bold;--ts:none;word-break:break-word" class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&amp;_p]:gp-whitespace-pre-line gp-text button-text">
      <p>COMMENCER AUJOURD'HUI</p>
    </span>
        </div>
        
        </button>
      </div>
      <script  defer="defer" src="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v=1764017314150"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-606873108636238596 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j8f0pt-e4/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=606557137941824434&sectionId=606873108636238596)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}